Environment setup

In [84]:
pip install kagglehub
pip install ydata-profiling

SyntaxError: invalid syntax (2052508188.py, line 1)

In [87]:
import os
import kagglehub
import pandas as pd
import numpy as np

# Download dataset directly into your project folder

In [8]:
# path = kagglehub.dataset_download("uciml/adult-census-income")
#
# print("✅ Dataset downloaded to:", path)

✅ Dataset downloaded to: C:\Users\lojha\.cache\kagglehub\datasets\uciml\adult-census-income\versions\3

# Load the data

In [83]:
df = pd.read_csv('../data/adult.csv')

In [15]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [16]:
df.shape

(32561, 15)

In [17]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [29]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

# check Unique values

In [48]:
for col in df.columns:
    vals = df[col].unique()
    print(f"{col} ({len(vals)} unique): {vals[:20]}{'...' if len(vals) > 20 else ''}")

age (73 unique): [90 82 66 54 41 34 38 74 68 45 52 32 51 46 57 22 37 29 61 21]...
workclass (9 unique): ['?' 'Private' 'State-gov' 'Federal-gov' 'Self-emp-not-inc' 'Self-emp-inc'
 'Local-gov' 'Without-pay' 'Never-worked']
fnlwgt (21648 unique): [ 77053 132870 186061 140359 264663 216864 150601  88638 422013  70037
 172274 164526 129177 136204 172175  45363 172822 317847 119592 203034]...
education (16 unique): ['HS-grad' 'Some-college' '7th-8th' '10th' 'Doctorate' 'Prof-school'
 'Bachelors' 'Masters' '11th' 'Assoc-acdm' 'Assoc-voc' '1st-4th' '5th-6th'
 '12th' '9th' 'Preschool']
education.num (16 unique): [ 9 10  4  6 16 15 13 14  7 12 11  2  3  8  5  1]
marital.status (7 unique): ['Widowed' 'Divorced' 'Separated' 'Never-married' 'Married-civ-spouse'
 'Married-spouse-absent' 'Married-AF-spouse']
occupation (15 unique): ['?' 'Exec-managerial' 'Machine-op-inspct' 'Prof-specialty'
 'Other-service' 'Adm-clerical' 'Craft-repair' 'Transport-moving'
 'Handlers-cleaners' 'Sales' 'Farming-fishing' 'Tech-support'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
relationship (6 unique): ['Not-in-family' 'Unmarried' 'Own-child' 'Other-relative' 'Husband' 'Wife']
race (5 unique): ['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
sex (2 unique): ['Female' 'Male']
capital.gain (119 unique): [    0 99999 41310 34095 27828 25236 25124 22040 20051 18481 15831 15024
 15020 14344 14084 13550 11678 10605 10566 10520]...
capital.loss (92 unique): [4356 3900 3770 3683 3004 2824 2754 2603 2559 2547 2489 2472 2467 2457
 2444 2415 2392 2377 2352 2339]...
hours.per.week (94 unique): [40 18 45 20 60 35 55 76 50 42 25 32 90 48 15 70 52 72 39  6]...
native.country (42 unique): ['United-States' '?' 'Mexico' 'Greece' 'Vietnam' 'China' 'Taiwan' 'India'
 'Philippines' 'Trinadad&Tobago' 'Canada' 'South' 'Holand-Netherlands'
 'Puerto-Rico' 'Poland' 'Iran' 'England' 'Germany' 'Italy' 'Japan']...
income (2 unique): ['<=50K' '>50K']

# check null values

In [74]:
df.isna().sum()
round(df.isna().sum().sum() / df.size * 100, 1)

np.float64(0.0)

# Check missing values

In [76]:
missing_df = pd.DataFrame([
    (col, ((df[col] == '?') | df[col].isna()).sum())
    for col in df.columns
    if ((df[col] == '?') | df[col].isna()).sum() > 0
], columns=['Column', 'Count ?'])
display(missing_df)

           Column  Count ?
0       workclass     1836
1      occupation     1843
2  native.country      583

# FIlling worclass with most frequent workclasses

In [94]:
frequentwc = df['workclass'].mode()[0]
df['workclass'] = df['workclass'].replace('?',frequentwc)
print(df['workclass'].head(10))

0        Private
1        Private
2        Private
3        Private
4        Private
5        Private
6        Private
7      State-gov
8    Federal-gov
9        Private
Name: workclass, dtype: object

# Filling missing occupation values based on workclass mode

In [111]:
df['occupation'] =df['occupation'].replace('?',np.nan)
for workclass in df['workclass'].unique():
    mode = df.loc[df['workclass'] == workclass, 'occupation'].mode()
    if not mode.empty:
        df.loc[(df['workclass'] == workclass) & (df['occupation'].isna()), 'occupation'] = mode[0]
    else:
        df['workclass'].fillna('Unknown')
df['occupation'] = df['occupation'].fillna('Unknown')

# Filling native.country with the country with most frequent occurrence in the native.country column

In [90]:
df['native.country'] = df['native.country'].replace('?', np.nan)
common_country = df['native.country'].mode()[0]
df['native.country'] = df['native.country'].fillna(common_country)
# Verify
print(df['native.country'].isna().sum())

0

In [ ]:
# simple check

In [112]:
df[['workclass','occupation','native.country']].head(10)

     workclass         occupation native.country
0      Private       Craft-repair  United-States
1      Private    Exec-managerial  United-States
2      Private       Craft-repair  United-States
3      Private  Machine-op-inspct  United-States
4      Private     Prof-specialty  United-States
5      Private      Other-service  United-States
6      Private       Adm-clerical  United-States
7    State-gov     Prof-specialty  United-States
8  Federal-gov     Prof-specialty  United-States
9      Private       Craft-repair  United-States

# Check Duplicate and remove it

In [129]:
df.duplicated().sum()
df = df.drop_duplicates()

Remaining duplicates: 0

"""
OR create report using pandas profiling
Comprehensive EDA (Exploratory Data Analysis) report
It includes:

- Dataset overview (shape, missing values, duplicates)
- Column data types and unique counts
- Descriptive statistics (mean, std, min, max)
- Histograms for numerical features
- Frequency plots for categorical features
- Correlation heatmaps
- Warnings (like high cardinality or skewed data)
- Interactions between columns
"""

In [ ]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="Adult Census Profile")

profile.to_notebook_iframe()

# Dropping unnecessary column

In [130]:
df.tail(10)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,)occupation
32551,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,Craft-repair
32552,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,Handlers-cleaners
32553,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,Sales
32554,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K,Tech-support
32555,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,Exec-managerial
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,Protective-serv
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,Tech-support
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,Machine-op-inspct
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,Adm-clerical
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,Adm-clerical

In [139]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [141]:
df =df.drop(columns=['fnlwgt', 'education.num'])

In [142]:
df.head(5)

,age,workclass,education,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,Private,HS-grad,Widowed,Craft-repair,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,HS-grad,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,Private,Some-college,Widowed,Craft-repair,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,7th-8th,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,Some-college,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

# First split: separate test set
# Second split: separate validation from train

In [146]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\lojha\miniconda3\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.8.0 in c:\users\lojha\miniconda3\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lojha\miniconda3\lib\site-packages (from scikit-learn) (1.5.2)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp312-cp312-win_amd64.whl (8.7 MB)
   ---------------------------------------- 0.0/8.7 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.7 MB 5.6 MB/s eta 0:00:02
   --------- ------------------------------ 2.1/8.7 MB 6.9 MB/s eta 0:00:01
   ------------------ --------------------- 3.9/8.7 MB 7.3 MB/s eta 0:00:01
   -------------------------- ------------- 5.8/8.7 MB 7.7 MB/s eta 0:00:01
   ---------------------------------- ----- 7.6/8.7 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------- 8.7/8.7 MB 7.5 MB/s eta 0:00:00
Using cached threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scikit-learn
Successfully installed scikit-learn-1.7.2 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

In [155]:
from sklearn.model_selection import train_test_split

train_val, test_df = train_test_split(
    df,
    test_size=0.30,
    stratify=df["income"],
    random_state=43
)

train_df, val_df = train_test_split(
    train_val,
    test_size=0.30,
    stratify=train_val["income"],
    random_state=43
)

print(train_df.shape)
print(val_df.shape)
print(test_df.shape)

(15942, 13)
(6833, 13)
(9762, 13)